<img src="images/Picture0.png" width=200x />

# Notebook 14 - Pandas

## Instructions

Pandas is a Python package which offers data structures and operations for manipulating numerical tables and time series. The term pandas is derived from "panel data," an econometrics term describing a particular type of dataset.

In this notebook, you will learn to:

### Credits

In [ ]:
import pandas as pd

## Importing data

The primary way you'll likely use `pandas` is explore and manipulate data in tables, often data you did not create. Pandas can read in data from a variety of formats. A common data format is .csv, which stands for "comma separated values". Data can also be imported from .json files, Excel files, SQL files, and more!

In [ ]:
file = "data/cereal.csv" #this finds the file in the "data" folder (assuming "data" is in the same folder as your notebook)
cereal_df = pd.read_csv(file)

Uh, oh... What went wrong? Open the file in a text editor and take a look at it. On this page, you can go to File > Open... to go back to Dashboard view, then click on the file to open it in Jupyter's text editor.

At the very end of the error message, it tells us we experienced a `ParserError`. It says "`Expected 1 fields in line 30, saw 3`". Can you see what the issue is?

To fix the issue, you'll need to change the value of the parameter `sep` when calling `pd.read_csv()`.

### Exercise

Fix the data import.

### Exercise

Here are a few commands you can use to get information about your database. Try them out on ```cereal_df```.

* ```.head()```
* ```.tail()```
* ```.info()```
* ```.shape```
* ```.describe()```

Tip: Don't wrap the call in a print statement for a nicer output. Eg. use ```cereal_df.head()``` rather than ```print(cereal_df.head())```.

## Cleaning data

Often, there will be issues with your data that needs to be fixed before it can be used. `Pandas` offers many tools to help.

### Exercise

Did you notice the first row in the in the table? Look up how to skip rows when using ```.read_csv()``` and reload the dataset. Be sure not to remove the column names.

#### Missing data

Look at `cereal_df.info()` again. It indicates that we have missing data in two categories.

The first is `'mfr'`, the manufacturer. Let's replace any missing values with `'U'` for "unknown".

In [ ]:
cereal_df = cereal_df.fillna({'mfr': 'U'})
cereal_df.info()

### Exercise

For the column `'rating'`, there's not an obvious choice for replacing the missing values. Instead, let's drop those entries. You'll need to look up how to do this.

## A note about in-place operations

The methods `.fillna()` and `.dropna()` have a boolean parameter `inplace`.

In fact, pandas has many operations that can be performed "in-place". This means that calling the function directly alters the existing object and that the function does not return anything. In contrast, "normal" operations make a copy of the object, alter that object, and then return the altered object. 

This is an important distinction. We'll illustrate it by calling a function to drop a column from our dataframe.

In [ ]:
#let's make a copy of our dataframe so we don't mess up what we have currently
cereal_copy = cereal_df.copy()

In [ ]:
cereal_copy.drop(["weight"], axis = 1, inplace = False)
cereal_copy.head()

Notice that ```cereal_copy``` still has the column ```weight```. This is because the function did not alter the dataframe directly. We need to assign the result of the function to some variable.

In [ ]:
cereal_copy_altered = cereal_copy.drop(["weight"], axis = 1, inplace = False)
cereal_copy_altered.head()

Now contrast this with the in-place version of the function.

In [ ]:
cereal_copy.drop(["shelf"], axis = 1, inplace = True)
cereal_copy.head()

The in-place function directly updated ```cereal_copy```. 

*This is a great way to save memory, especially when dealing with large databases, however it can make it easier for mistakes to go unnoticed (if you forget to add ```inplace = True``` for example).*

Finally, observe what happens if you try to assign the output of an in-place operation to a variable.

In [ ]:
cereal_copy = cereal_df.drop(["cups"], axis = 1, inplace = True)
cereal_copy.head()

Do you understand what went wrong?

## More data cleaning

Let's replace the letters in the `mfr` column with the actual names of the brands.

In [ ]:
cereal_df.replace({"mfr":"K"}, "Kelloggs", inplace = True)
cereal_df.head()

There are several allowed input formats to `.replace()`.

In [ ]:
cereal_df = cereal_df.replace({"mfr" : {"R" : "Raiston"}})
cereal_df.head()

### Exercise

Finish replacing the values in the `mfr` column with the following values:

* `'U'` --> `'Unknown'`
* `'N'` --> `'Nabisco'`
* `'R'` --> `'Raiston'`
* `'G'` --> `'General Mills'`
* `'P'` --> `'Post'`
* `'A'` --> `'American Home Products'`

Hint: You can use `cereal_df.replace({"mfr" : {"K" : "Kelloggs", "Q" : "Quaker"}})` to replace multiple values at once.

Finally, let's update some of the column names to include measurement units.

In [ ]:
cereal_copy.rename(columns={"protein": "protein (g)", "sodium": "sodium (mg)"}, inplace = True)
cereal_copy.head()

### Exercise

Update `'fat'` to `'fat (g)'` and `'potass'` to `'potass (mg)'`.

### Extracting rows and columns

Extracting columns from a dataframe is quite easy.

In [ ]:
fiber = cereal_df["fiber"]
print(fiber)

We can easily convert a column to a Numpy array for use with Numpy and any other packages that utilize Numpy arrays.

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
fiber_array = fiber.to_numpy()
print(fiber_array)

In [ ]:
plt.hist(fiber_array);

Some functions already have built-in pandas functionality, but converting to a numpy array is a safer option.

In [ ]:
plt.hist(fiber);

We can extract a row using its index.

In [ ]:
row_3 = cereal_df.loc[2] #2 is the index of the row we want to extract
print(row_3)

### Sort and filter

Here are some ways we can reorganize our dataframe.

In [ ]:
cereal_df.sort_values(by=["rating"], ascending = False, inplace = True)
cereal_df.head(10)

To filter, we can create a "mask", an array of the same size as our object, with entries `True` or `False` depending on whether a certain condition is met.

In [ ]:
mask = (cereal_df["sodium"] > 100)
mask

Then we can use the mask to filter the dataframe.

In [ ]:
cereal_high_sodium = cereal_df[mask]
cereal_high_sodium.head()

### Exercise

Create a new dataframe from `cereal_df` containing only entries with `'mfr'` equal to `'Kelloggs'`.

<hr>
<font face="verdana" style="font-size:30px" color="blue">---------- Optional Advanced Material ----------</font>

We've barely scratched the surface of pandas's functionality. If there's something you want to do with your dataframe, there is probably a pandas function to help. Here are a few additional common functions you can explore if you have the time:
* `pd.DataFrame.apply()` (you can call this function by adding `.apply()` to the end of a `DataFrame`, as we did in many of the cells above)
* `pd.DataFrame.corr()`
* `pd.DataFrame.query()`
* `pd.DataFrame.sample()`

## Additional Exercise 1

Can you make a separate dataframe with only the highest rated cereal from each mfr group? (Hint: You would want to use ```pd.DataFrame.groupby()```.)

## Additional Exercise 2

Can you calculate the absolute difference between the rating of each cereal and that of the highest rated cereal from each mfr group? Call the column with the absolute difference, 'diff'. (Hint: You would want to use ```pd.DataFrame.merge()```.)

## Additional Exercise 3

Make a list out of CAPITALIZED column names for the cereal_df dataframe. (Hint: Use ```df.columns```.)