<img src="images/Picture0.png" width=200x />

# Notebook 02 - Additional Practice with Python

## Instructions

There are lots of powerful things you can do with Python. This notebook helps you practice some of these techniques, and goes over additional reference points not covered in the pre-work notebook.

- Additional practice with lists
    - Functions vs. methods in Python
    - A word of caution: Modifying data in place
    - Slicing:
        - How to slice a list
        - How to slice a string
    - Nested/multidimensional lists
    
- Additional practice with for loops and conditionals
    - Exercises
    - Infinite loops

- Optional advanced exercises for Python advanced users
    - If you are already an advanced Python user, there is additional optional material at the end to use to practice.
    
### Credits
- [Software Carpentry](https://www.software-carpentry.org)
- https://github.com/jrjohansson/scientific-python-lectures/blob/master/Lecture-1-Introduction-to-Python-Programming.ipynb

## Additional Practice with lists

### Functions vs. Methods
One important key to understanding Python syntax is that Python is an object-oriented programming language. This means that Python focuses around "objects," like say a list of numbers:

In [ ]:
mylist = [1,2,3,4]

`mylist` is a list object, which has certain properties and can be manipulated in certain ways. These manipulations, called methods, are properties of the list object, and thus are accessed by calling `object.method()`. So, for example, if you wanted to add an additional element to the list (the value 5 for instance), you do:

In [ ]:
mylist.append(5)
print(mylist)

In addition to methods of objects, you also can have functions that operate on objects. An example of this is if I want to know the length of `mylist` I can use the length function:

In [ ]:
len(mylist)

### A word of caution: modifying data in place
Be careful when modifying data in place. If two variables refer to the same list, and you modify the list value, it will change for both variables!

In [ ]:
salsa = ['peppers', 'onions', 'cilantro', 'tomatoes']
my_salsa = salsa        # <-- my_salsa and salsa point to the *same* list data in memory
salsa[0] = 'hot peppers'
print('Ingredients in salsa:', salsa)
print('Ingredients in my salsa:', my_salsa)

If you want variables with mutable values to be independent, you must make a copy of the value when you assign it.

In [ ]:
salsa = ['peppers', 'onions', 'cilantro', 'tomatoes']
my_salsa = list(salsa)        # <-- makes a *copy* of the list
salsa[0] = 'hot peppers'
print('Ingredients in salsa:', salsa)
print('Ingredients in my salsa:', my_salsa)

The `list()` function is a constructor that creates a new object initialized with the values of *salsa*. Because of pitfalls like this, code which modifies data in place can be more difficult to understand. However, it is often far more efficient to modify a large data structure in place than to create a modified copy for every small change. You should consider both of these aspects when writing your code.

### Slicing
Slices allow us to easily extract sublists. For example, we can extract the first two elements of a list as follows:

In [ ]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
first_two_months = months[0:2]
print(first_two_months)

The slice `0:4` means, “Start at index 0 and go up to, but not including, index 4”. Again, the up-to-but-not-including takes a bit of getting used to, but the rule is that the difference between the upper and lower bounds is the number of values in the slice.

We don’t have to start slices at 0:

In [ ]:
spring_months = months[2:6]
print(spring_months)

### Exercise 
Create sublists ```summer_months``` and ```winter_months``` using slicing. For ```winter_months```, you may need to add two sublists (e.g. using extend or +).

We can also leave out the first and/or last index in a slice. What happens?

In [ ]:
print(months[:6])
print(months[6:])
print(months[:])

### Note: Slicing Strings

We can slice characters in strings in a similar way:

In [ ]:
discipline = 'science'
person = discipline[0:5] + 'tist'

print(person)

Lists are *mutable*, meaning that they can be altered after creation. In constrast, strings are *immutable*:

In [ ]:
university_name = 'Unaversity of Illinoiz'
university_name[-1] = 's'

To fix the typos, you'll need to create a new string.

### Exercise

Use slicing to create a new string with the two typos in `university_name` corrected.

### Nested Lists
Since a list can contain elements of any Python type, it can therefore contain other lists.

For example, we could represent the products on the shelves of a small grocery shop:

In [ ]:
x = [['pepper', 'zucchini', 'onion'],
     ['cabbage', 'lettuce', 'garlic'],
     ['apple', 'pear', 'banana']]

As before, ```x[0]``` will return the first element of the list ```x```, which in this case is another list.

### Exercise

What will ```x[0]``` return? Print it below to check.

How can you print `'zucchini'`?

How can you print `'pear'`?

### Review: Key points about lists

- `[value1, value2, value3, ...]` creates a list.

- Lists can contain any Python object, including lists (i.e., list of lists).

- Lists are indexed and sliced with square brackets (e.g., `list[0]` and `list[2:9]`).

- Lists are mutable (i.e., their values can be changed in place).

## Additional Practice with conditionals and for loops

In [ ]:
# Recall from the workshop prework the syntax for testing the relationships between statements.
a = 10
b = 0

print(a == b) # equal to
print(a != b) # is not equal to 
print(a > b)
print(a >= b)
print(a < b)
print(a <= b)
print()

# You can also test whether or not something is in or not in a set of numbers. 
# While a list is the basic Python container for items, it also has sets and lists. 
# In/ not in work for all of them:
print("name" in ['name', 'city', 'grade']) # list
print(12 not in (10, 12, 14)) # tuple
print(6 in {7, 8, 9, 9}) # set

In [ ]:
# Note that you can combine multiple conditions in an if statement using and/ or:
score = 90
grade = 'A'

if (score >= 90) and (grade == 'A'):
    print("PASS!")

A note about values that are considered `True` and `False`:

- The following values are considered False : 
     * None
     * 0
     * 0.0
     * '' -> empty string
     * [] -> empty list
     * () -> empty tuple
     * {} -> empty dictionary
     * set() -> empty set
- All other values are considered True - so objects of many types are always true.

`None` is used for objects that have not been defined. Think of it as a null pointer in other languages.

In [ ]:
# Can you predict which values will actually print before running the follow code?
if None:
    print('None.')

if 0:
    print('0.')

if []:
    print('[]')

if 1:
    print('1.')

To practice with this, note that the % symbol in Python is the modulo operator and returns the remainder of dividing the left hand value by right hand value.

Other math operators in Python are: `+` (addition), `-` (subtraction), `*` (multiplication), `/` (division), `**` (exponential), `//` (floor division).

In [ ]:
print("The remainder of 17 divided by 4 is:", 17 % 4)

We often need to nest conditionals within other conditionals:

In [ ]:
num = 10
if num%2 == 0:
    if num%3 == 0:
        print (num, "is divisible by 2 and 3.")
    else:
        print (num, "is divisible by 2 and not divisible by 3")
else:
    if num%3 == 0:
        print (num, "is divisible by 3 and not divisible by 2")
    else:
        print  (num, "is not divisible by 2 and not divisible by 3")

## Exercise:
Use a `for` loop to determine if the following list of numbers is divisible by 4 with remainder 0. 

```num_list = [8, 9, 789632, 13401642]```

Print out statements that say things like "8 is divisible by 4" or "9 is not divisible by 4".

Sometimes we need to loop over multiple lists at once, and use the `zip()` function to accomplish this:

In [ ]:
names = ["Ann","Bob","Charles","Debbie"]
favorite_fruit = ["Apple","Banana","Cherrie","Date"]
for name, fruit in zip(names, favorite_fruit):
    print(name,":", fruit)

## Exercise

In a much feared math class, letter grades will be assigned according to the percentage:
- 100.00 % - 98.00 % → A+ 
- 97.99 % - 93.00 % → A 
- 92.99% - 90.00% → A- 
- 89.99 % -87.00 % → B+ 
- 86.99 % - 83.00 % → B 
- 82.99 % - 80.00 % → B- 
- 79.99 % - 70.00 % → C
- 69.99 % and below → F

Use a for loop and `if-elif-else` and determine the letter grades for the following list of scores. 

Print out the name of their student and their score, e.g. "Adam received a B+". 

To keep it short, for grades lower than B-, just print that x didn't do so well...

In [ ]:
class_names = ["Connor" , "Robert" , "Adam" , "Joshua" , "Lucas" , "Candice" , "Christian" , "Andrew" , "Mya" , "Lexi" , "Logan" , "Mary" , "Kelsey" , "Gwyneth" , "Kendal" , "Ellora" , "Cameron" , "Lindsay" , "Saahil" , "Andrea" , "Kylie" , "Allison" , "Rachel" , "Ariana" , "Sean" , "Kristy" , "Lauren" , "Jacob" , "Brianna" , "Michael" , "Alexandria" , "Samuel" , "Brandon" , "Dalton" , "Jachob" , "Terrance" , "Benjamin" , "Alexander" , "Dylan" , "Paige" , "Brennen" , "Christopher" , "Ben" , "Mary" , "Amy" , "Sarah" , "Ellie" , "Mickey" , "Mike" , "Laura"]
class_scores = [90.42,57.47,93.07,66.74,80.30,88.19,65.57,96.99,64.18,66.96, 17.94,99.91,62.16,90.78,91.41,93.31,90.35,77.09,90.39,87.24,81.81, 72.27,88.82,75.12,85.47,78.43,85.18,87.18,96.91,88.23,76.28,10.67,83.44,69.61,78.32,82.27,85.44,93.22,63.82,79.68,91.04,84.05,82.46,87.13,98.09,70.44,89.26,68.86,77.35,2.16]

## Breaking Infinite Loops
It's important to know how to break out of a `for` or `while` loop.

An infinite loop : The `while` loop will continue forever if the condition doesn't become false.

Execute the below cell and exit by interrupting the kernel (Kernel --> Interrupt).

In [ ]:
i = 0
while True:
    i+=1
    
print(i)

### `break`
The `break` statement enables us to stop the loop even if the condition is true.

In [ ]:
i = 0
while True:
    if i == 529:
        print("i = ", i)
        break
    i+=1

### continue
The `continue` statement enables us to stop/skip the current iteration, and continue with the next iteration.

Notice how the list contains mixed objects.

In [ ]:
lt = ["1", 2, 5, True, 4.3, complex(4)]

for v in lt:
    if type(v) is float:
        continue

    print("type:", type(v))

### else

Just like in the `if` clause, the `else` statement enables us to run a block of code once when the condition no longer is true.

In [ ]:
# for-else
numbers = [14, 3, 4, 7, 10, 24, 17, 2, 33, 15, 34, 36, 38]
lucky = 4
for num in numbers:
    if num == lucky:  
        print("Found", lucky, '!')
        break
else:
    print(lucky, "not found.")

### Exercise

Repeat the loop above for finding `45`. Will the `else` statement run?

### Nested loops
We often need to nest a loop inside another loop:

```python
a = [1, 2, 4]
for i in a:
    for j in a:
        print(i * j)
```

In [ ]:
# Nested for loop: building a multiplication table

# outer for loop
for i in range(1, 11):
    # inner for loop
    for j in range(1, 11):
        print('{:4d}'.format(i * j), end='')
    print()

In [ ]:
# Example of using a flag to stop and exit a while loop

flag = True
numbers = [14, 3, 4, 7, 10, 24, 17, 2, 33, 15, 34, 36, 38]

while flag:
    for v in numbers:
        if v == 33:
            print("found : 33!")
            flag = False
            break # break the for loop

## Exercises

Using `if` or `for` only, 
1. Find the maximum and minimum of [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]. 
2. Evaluate the average of the list above.

In [ ]:
numList = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]

Write a program that  checks whether an integer is a prime number or not.

Find the first 6-digit number that is divisible by 157.

<hr>
<font face="verdana" style="font-size:30px" color="blue">---------- Optional Advanced Material ----------</font>

If you are experienced with Python, then you may challenge yourself with some of the advanced exercises listed below. If on the other hand you are just starting with Python, consider this a reference for advanced techniques you may want to use in the future.

## More list manipulations

Read about other list methods [here](https://docs.python.org/3/tutorial/datastructures.html). 


### Exercise

Use these methods to do the following with the list below.

- Create a blank list called `served_customers` and move the first six customers of `waiting_customers` to this list. (Hint: use `list.pop()`.)
- Flip the order of `served_customers` so that the most recently served customer is at the front of the list.
- Report the number of customers served and customers waiting.
- Allow Ana Lloyd to cut in line and be served next.
- Alphabetize the remaining waiting customers by first name.

In [ ]:
waiting_customers=['Chance Maxwell', 'Ray Rawlings', 'Omer Hollis', 'Ava-Rose O\'Gallagher', 'Jocelyn Green', 'Sammy John', 'Stevie Mcfarland', 'Romany Goff', 'Edmund Downes', 'Umayr Sykes', 'Bret Oliver','Katy Chung', 'Ana Lloyd', 'Ricardo Sullivan', 'Daryl Shepard']

## List comprehension

If you are familiar with `for` loops in Python, use [this source](https://www.pythonforbeginners.com/basics/list-comprehensions-in-python) or another to read about list comprehensions. 

### Exercise

Given the three lists below.

In [ ]:
numbers = [1,4,3,6,12,42]
planets = ['Mars', 'Venus', 'Earth', 'Mercury', 'Jupyter', 'Saturn', 'Uranus', 'Neptune']
poem = 'What happens to a dream deferred?\nDoes it dry up\nlike a raisin in the sun?\nOr fester like a sore—\nAnd then run?\nDoes it stink like rotten meat?\nOr crust and sugar over—\nlike a syrupy sweet?\n\nMaybe it just sags\nlike a heavy load.\n\nOr does it explode?[1]' #Harlem by Langston Hughes

Create a list with each value in `numbers` divided by 3. Hint: use `num/3 for num in numbers` construction.

Create a list of the length of the name of each planet in `planets`.

Create a list of all of the vowels in `poem`.

## Advanced looping / Optional exercises

If you've looking for more practice give these additional exercises a try.

### Exercise 1

There is a pair of integers $x$, $y$ such that $x^2 + y^2 = 223065$. Use `for` or `while` loops to find them!

### Exercise 2

Define $W_0 = 2$ and $W_n = W_{n-1}^{W_{n-1}}$ for all integers $n \geq 1$. Use a while loop to find the smallest n such that $W_n > 1030$.

### Exercise 3

Create a list of length $10$ where entry $i$ has value $0^2 + 1^2 + 2^2 + \ldots + i^2$ (without using the formula for that if you happen to know it). Can you do it with only one for loop?

### Exercise 4

Set $n=100$ and create two nested `for` loops iterating `i` and `j` through `range(n)`. Can you find a way to exit **both** `for` loops when `i=49` and `j=76`? So after you run it, `i` should have value $49$ and `j` should have value $76$.

### Exercise 5

Set `A` to be a list of numbers of your choice. Set `B` equal to `A`. Use `for` loops to set each entry in B equal to itself plus all the \'later entries\' (entries corresponding to a larger index) in `B`. After doing that (to `B` only), what is the value of `A`?

## Advanced string manipulation, and practice with dictionaries

If you finished the above quickly, choose activities from below to work on.

### Manipulating strings

Using [this page](https://www.freecodecamp.org/news/python-string-manipulation-handbook/) or any other resource you prefer as a reference, do the following with the text below.

### Exercise

Given the string below:

In [ ]:
text = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu tortor a eros bibendum vestibulum. Aliquam mollis efficitur odio eget rutrum. Ut finibus porttitor nisi, et sollicitudin nisi luctus quis. Nulla facilisi. Sed dapibus eleifend ex, ut mattis nibh tincidunt eget. Nullam tincidunt tellus sit amet posuere hendrerit. Suspendisse ac ipsum eget velit ornare tincidunt. Morbi quis dignissim enim, a elementum nisl. Sed faucibus venenatis risus, eu vulputate lorem porttitor gravida. Sed sed nisi ultricies, pellentesque sapien vel, aliquet magna. Morbi enim ligula, bibendum quis justo vel, sollicitudin semper nisi. Proin vitae lobortis lorem, aliquet aliquam diam. Donec suscipit malesuada lorem, ac rutrum est pharetra consectetur."

Make the entire string lower case.

Print a word count.

Print the number of times the letter `s` appears in the string.

Check if the string contains only alphanumeric characters.

Move the first sentence of the text to the end of the text.

### Dictionaries

Using [this page](https://realpython.com/python-dicts/) or any other resource you prefer as a reference, to do the following exercise.

### Exercise

Given a dictionary where the keys are the names of the members of your group and the values are their favorite food.

In [ ]:
fav_foods = {"Joseph": "pizza", "Adriana": "cake", "Shinhae": "coffee"}

Print the type of this dictionary.

Add a new entry to the dictionary for Emily. Her favorite food is chocolate.

Use the dictionary to print Joe's favorite food.

Move the entry for Emily from the dictionary.

Try to add a second entry for Joseph. Does it work?

Print the dictionary keys.

Print the dictionary values

Make an empty dictionary. Use the method `.popitem()` to remove the last two entries from your original dictionary and add them to the new dictionary.